.hyperspeed-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.hyperspeed-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
